<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New</title>
    <style>
        body { background-color: darkcyan}
    </style>
</head>
<body>
    <form th:method="POST" th:action="@{/new}" th:object="${client}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname">
        <br/>
        <label for="address">Enter address: </label>
        <input type="text" th:field="*{address}" id="address">
        <br/>
        <label for="email">Enter email: </label>
        <input type="text" th:field="*{email}" id="email">
        <br/>
        <input type="submit" value="Create!"/>
    </form>
    <hr>
    <button onclick="location.href='/clients'" >Back</button>
</body>
</html>